################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNetIdentity/.vs/AspNetIdentity
/AspNetIdentity/AspNetIdentity.WebApi/bin
/AspNetIdentity/AspNetIdentity.WebApi/obj/Debug
/AspNetIdentity/packages
